
.body
{
  background-color:#b4bddd;
  height:auto;
}
.navbar-nav .nav-item .active
{
    color:yellowgreen !important;
    border-bottom: solid 2px yellowgreen !important;
    padding-bottom: 0px;
    font-weight: bold;
}

.navbar-nav .nav-item a:hover
{
    color:yellowgreen !important;
}
.bg-custom {
    background-color: #011A41 !important;
    color:white !important;
}

.nav-link,.dropdown-item
{
    color:white !important;
}
.dropdown-item:hover
{
    color:white !important;
    background-color:#011A41 !important;
}
.btn-custom{
    background-color: yellowgreen !important;
    font-weight: bold !important;
    border: none;
}

.btn-custom:hover ,.btn-custom .active{
   
    color: white !important;

}
.slider-img {
  width: 100%;
  height: 660px;

}
.big-icon{
    font-size: 80px;
    color: red;
}
.product-image
{
    width: 100%;
    margin: 0;
    padding: 0;
}

#img-holder {
    background-position: center;
    background-size: cover;
}  
   